body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5F9EA0;
    /* Page background color */
    color: #333;
}

.header {
    background-color: #FFFAF0;
    color: black;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header h1 {
    margin: 0;
}

.header .buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header .buttons button {
    background-color: #5F9EA0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.form-container {
    background-color: #FFFAF0;
    /* Form background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
}

.form-container h2 {
    margin-top: 0;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 2%;
    text-align: left;
    font-weight: bold;
    font-family: Arial;
    font-size: x-large;
    color: #5F9EA0;
}

.form-group input {
    font-family: Arial;
    font-weight: bold;
    font-size: large;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group button {
    background-color: #5F9EA0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.form-group button:hover {
    background-color: black;
}

/* Logout button styles */
.logout {
    background-color: darkred !important;
}